<h1><%= @post.company_name%></h1>

<p><%=@post.position_title%>
<hr>
    <%=@post.description%>
</p>

<a href="/posts/<%= @post.id %>/edit"><button>Edit Post</button></a>
<a href="/posts"><button>All Posts</button></a><br><br>

<form method="POST" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" name="submit" value="Delete Post">
</form>
